{% extends 'skin_cancer_detection_app/base.html' %}
{% load static %}
{% block title %}تطبيق الكشف عن سرطان الجلد{% endblock %}

{% block content %}
<!-- Hero Section -->
<section id="hero" class="hero">
    <div class="hero-content">
        <h1>مرحباً بكم في تطبيق الكشف عن سرطان الجلد</h1>
        <p>اكتشف المخاطر بسرعة ودقة</p>
        <div class="hero-buttons">
            <button class="btn-secondary">تعرف على المزيد</button>
            <button class="btn-primary" onclick="redirectToGetStarted()">ابدأ الآن</button>
            <script>
                function redirectToGetStarted() {
                    window.location.href = "{% url 'get_started' %}";
                }
            </script>
        </div>
    </div>
</section>

<!-- Features Section -->
<section id="features" class="features">
    <h2>المميزات</h2>
    <div class="features-grid">
        <div class="feature">
            <h3>كشف سريع</h3>
            <p>ارفع صورتك واحصل على نتائج فورية.</p>
        </div>
        <div class="feature">
            <h3>دقة عالية</h3>
            <p>يعتمد تطبيقنا على أحدث تقنيات الذكاء الاصطناعي.</p>
        </div>
        <div class="feature">
            <h3>تواصل مباشر</h3>
            <p>اتصل بالأطباء مباشرة عبر التطبيق.</p>
        </div>
    </div>
</section>

<!-- How It Works Section -->
<section id="how-it-works" class="how-it-works">
    <h2>كيف يعمل التطبيق؟</h2>
    <div class="steps">
        <div class="step">
            <h3>الخطوة ١</h3>
            <p>ارفع صورتك</p>
        </div>
        <div class="step">
            <h3>الخطوة ٢</h3>
            <p>احصل على نتائجك</p>
        </div>
        <div class="step">
            <h3>الخطوة ٣</h3>
            <p>اتصل بطبيب</p>
        </div>
    </div>
</section>

<div id="doctors" class="carousel-container">
    <h2>أطباؤنا</h2>
    <button class="carousel-btn left-btn">&#8249;</button>
    <div class="carousel">
        {% for doctor in doctors %}
        <div class="card">
            <i class="fa fa-user-md doctor-icon"></i>
            <h3>{{ doctor.name }}</h3>
            <p><strong>{{ doctor.specialty }}</strong></p>
            <p>{{ doctor.address }}</p>
            <p>{{ doctor.phone_number }}</p>
            <button class="profile-btn">تعرف على المزيد</button>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-btn right-btn">&#8250;</button>
    <button class="explore-more" onclick="redirectToDoctorsPage()">تعرف على المزيد</button>

    <script>
        function redirectToDoctorsPage() {
            window.location.href = "{% url 'doctors_page' %}";
        }
    </script>
</div>



 <!-- Collapsible Article Section -->
 <section class="collapsible-article" id="article">
    <h2>مقالة عن سرطان الجلد</h2>
    
    
    <div class="collapsible">
        <button class="collapsible-header">ما هو سرطان الجلد؟</button>
        <div class="collapsible-content">
            <p>سرطان الجلد (بالإنجليزية: Skin Cancer) هو نمو وتكاثر غير طبيعي لخلايا الجلد لا سيما في مناطق الجسم المعرضة للشمس، وقد ينشأ من خلايا الطبقة الخارجية من الجلد، أو الخلايا الصباغية، أو خلايا جلدية أخرى، ويعد مرض سرطان الجلد أكثر أنواع السرطانات شيوعًا.</p>
        </div>
    </div>

    <div class="collapsible">
        <button class="collapsible-header">أنواع سرطان الجلد</button>
        <div class="collapsible-content">
            <p>يتكون الجلد من عدة طبقات ويختلف نوع السرطان في الجلد وفقًا لنوع الخلايا الجلدية التي نشأ منها الورم، وجدير بالذكر أن أعراض سرطان الجلد وعلاجه يختلف أيضًا باختلاف نوع السرطان. 

                تتعدد أنواع سرطانات الجلد وتشمل الأنواع الرئيسية ما يلي: 
                
                <ul>
                    
                    <li>سرطان الجلد غير الميلانيني: هو النوع الأكثر شيوعًا من سرطانات الجلد والأقل عدوانية وانتشارًا وعادة ما يحدث في مناطق الجلد المعرضة للشمس، ومن أبرز أنواعه سرطان الجلد القاعدي الذي ينشأ من الخلايا القاعدية في طبقات الجلد العليا، وسرطان الجلد الحرشفي الذي يبدأ من الخلايا الحرشفية.</li>
                    <li>سرطان الجلد الميلانيني أو الميلانوما: هو النوع الأقل شيوعًا ولكنه الأكثر خطورة وعدوانية وقد ينتشر بسهولة إلى أجزاء الجسم الأخرى، وينشأ من الخلايا الصباغية في الجلد.</li>
                    
                </ul>
                توجد أنواع أورام جلدية أخرى نادرة تصيب مكونات الجلد وأنسجته، ومنها: 
                <ul>
                    <li>سرطان خلايا ميركل.</li>
                    <li>ساركوما كابوزي.</li>
                    <li>لمفوما الخلايا التائية الجلدية.</li>
                    <li>السرطان الزهمي.</li>
                </ul>
                </p>
        </div>
    </div>

    <div class="collapsible">
        <button class="collapsible-header">أسباب سرطان الجلد</button>
        <div class="collapsible-content">
            <p>يحدث سرطان الجلد عندما تتكاثر بعض خلايا الجلد بشكل خارج عن السيطرة مكونة ورمًا، وذلك نتيجة حدوث طفرة في الحمض النووي للخلايا تمنع موتها مع انتهاء دورة حياتها الطبيعية.</p>

            <p>يعد أبرز أسباب مرض سرطان الجلد هو تكرار التعرض للأشعة فوق البنفسجية الناتجة عن أشعة الشمس، أو أسرة التسمير، أو أي مصدر آخر.</p>
            
            <p>تشمل أسباب سرطان الجلد الأخرى ما يلي:</p>
            
            <ul>
                <li>التعرض لمستويات عالية من الإشعاع، مثل الأشعة السينية.</li>
                <li>التعرض للمواد الكيميائية السامة، مثل الزرنيخ والهيدروكربونات.</li>
                <li>ضعف جهاز المناعة نتيجة استخدام الأدوية المثبطة للمناعة، أو الإصابة بأمراض تضعف المناعة، مثل عدوى فيروس نقص المناعة البشرية (الإيدز)، أو السرطان.</li>
                <li>التعرض للعلاج الإشعاعي.</li>
                <li>الإصابة بعدوى فيروس الورم الحليمي البشري.</li>
            </ul>
         </div>
    </div>

    <div class="collapsible">
        <button class="collapsible-header"> ما هي عوامل خطر الإصابة بسرطان الجلد؟</button>
        <div class="collapsible-content">
            <p>تتضمن العوامل التي تزيد من احتمالية الإصابة بسرطانات الجلد ما يلي:</p>

            <ul>
                <li>التقدم في العمر.</li>
                <li>تاريخ عائلي للإصابة بأحد سرطانات الجلد.</li>
                <li>تاريخ شخصي من الإصابة بسرطان في الجلد.</li>
                <li>أصحاب البشرة الفاتحة والشعر الفاتح الأشقر أو الأحمر والعيون الزرقاء أو الخضراء، لا سيما فيمن يظهر عليهم النمش وحروق الشمس بسهولة.</li>
                <li>اضطرابات وراثية معينة، مثل المهق وجفاف الجلد المصطبغ.</li>
                <li>كثرة الشامات أو وجود شامات كبيرة منذ الولادة.</li>
                <li>الإصابة ولو مرة واحدة على الأقل بحروق الشمس الشديدة في وقت مبكر من الحياة.</li>
            </ul>
        </div>
    </div>

    <div class="collapsible">
        <button class="collapsible-header">اعراض سرطان الجلد</button>
        <div class="collapsible-content">
            <p>غالبًا ما تظهر أعراض مرض سرطان الجلد في مناطق الجلد المعرضة لأشعة الشمس بصفة متكررة، مثل الوجه، وظهر اليد، والرقبة، والذراعين، واليدين، ولكن قد يظهر في المناطق غير المعرضة للشمس أيضًا مثل الظهر والصدر.</p>

            <p>تختلف علامات وأشكال سرطان الجلد بناء على نوع السرطان، وتشمل:</p>
            
            <h3>أعراض سرطان الجلد القاعدي</h3>
            <p>قد يظهر سرطان الخلايا القاعدية بأحد الصور الآتية:</p>
            <ul>
                <li>نتوء أو كتلة صغيرة شفافة ولامعة.</li>
                <li>نتوء أو كتلة بنية، أو وردية أو بلون الجلد.</li>
                <li>قرحة مفتوحة لا تلتئم.</li>
                <li>قرحة متقشرة أو نازة أو نازفة.</li>
                <li>بقعة تشبه الندبة دون وجود جرح.</li>
            </ul>
            
            <h3>أعراض سرطان الجلد الحرشفي</h3>
            <p>يمكن أن يحدث سرطان الخلايا الحرشفية الجلدي في عدة أشكال، أبرزها:</p>
            <ul>
                <li>بقع متقشرة حمراء ذات حدود غير منتظمة.</li>
                <li>قرحة مفتوحة لا تلتئم.</li>
                <li>نمو يشبه الثآليل.</li>
                <li>بقع بنية تشبه البقع العمرية.</li>
                <li>ظهور نمو دائري الشكل ذو حدود مرتفعة.</li>
            </ul>
            
            <h3>أعراض سرطان الجلد الميلانيني</h3>
            <p>تشمل أبرز علامات سرطان الجلد الميلاني:</p>
            <ul>
                <li>تكون شامة كبيرة غير متماثلة الشكل واللون.</li>
                <li>تغير في لون أو حجم شامة موجودة بالفعل أو نزفها.</li>
                <li>تكون آفة جلدية صغيرة ذات حدود غير منتظمة، وتظهر باللون الأحمر أو الأبيض أو الأزرق في مناطق الجلد المختلفة.</li>
            </ul>
            
            <h3>هل سرطان الجلد يسبب حكة؟</h3>
            <p>قد تسبب بقع سرطان الجلد الشعور بالحكة في بعض الحالات، ولكن يمكن أن تحدث الحكة نتيجة الإصابة بحالات جلدية أخرى غير السرطان مثل الإكزيما، ولسعات الحشرات، والحساسية وغيرها؛ لذا ينبغي مراجعة الطبيب عند المعاناة من حكة أو ظهور أي بقع على الجسم.</p>
            
            
        </div>
    </div>

    <div class="collapsible">
        <button class="collapsible-header">كيف يتم تشخيص سرطان الجلد؟</button>
        <div class="collapsible-content">
            <p>يعتمد تشخيص سرطان الجلد على التاريخ الطبي، وعمل فحص سريري للمريض، وتقييم الأعراض التي يعاني منها.</p>

            <p>قد يطلب الطبيب بعد ذلك إجراء بعض الفحوصات والاختبارات للمساعدة في تأكيد التشخيص ومعرفة مدى انتشار السرطان، ومن هذه الفحوصات:</p>
            
            <ul>
                <li>
                    <strong>الخزعة:</strong> تؤخذ خزعة من منطقة الجلد أو الآفة المشتبه بها تحت تأثير التخدير الموضعي، ثم تفحص مجهريًا للكشف عن وجود خلايا سرطانية.
                </li>
                <li>
                    <strong>الاختبارات التصويرية:</strong> تجرى اختبارات التصوير للكشف عن مدى انتشار السرطان.
                </li>
            </ul>
            
            <h3>كيفية الفحص الذاتي للجلد</h3>
            <p>يعد الاكتشاف المبكر لسرطانات الجلد وتشخيصها أولى خطوات العلاج، لذا ينبغي فحص الجلد بانتظام لاكتشاف أي تغير قد يطرأ عليه.</p>
            
            <p>تتضمن طريقة فحص الجلد ذاتيًا الوقوف أمام مرآة في غرفة مضاءة جيدًا وفحص الجسم بالكامل مع الاستعانة بمرآة يد لرؤية الظهر وغيره من الأماكن صعبة الوصول لفحصها.</p>
            
            <p>تشمل العلامات التي ينبغي الانتباه إليها أثناء الفحص الذاتي للكشف عن سرطان الجلد ما يلي:</p>
            
            <ul>
                <li>بقع غريبة على الجلد داكنة اللون.</li>
                <li>وحمات أو شامات جديدة على الجسم، وخاصة إن كانت نازفة.</li>
                <li>وحمات يزداد حجمها باستمرار.</li>
                <li>بقع حمراء خشنة على الجلد أو متقشرة.</li>
                <li>قرح لا تلتئم أو تنزف باستمرار.</li>
                <li>تكتلات تحت الجلد.</li>
            </ul>
            
            <p>تجدر الإشارة إلى أن ظهور أي من العلامات السابقة لا يعني حتمية الإصابة بسرطان في الجلد، ولكنها تستدعي مراجعة الطبيب لتلقي التشخيص والعلاج المناسب.</p>
                            
        </div>
    </div>

    <div class="collapsible">
        <button class="collapsible-header">علاج سرطان الجلد</button>
        <div class="collapsible-content">
            <p>يوجد عدة طرق فعالة في علاج سرطان الجلد ويعتمد اختيار طريقة العلاج المناسبة على الآتي:</p>
            Malignant
            <ul>
                <li>موقع الورم.</li>
                <li>حجم الورم.</li>
                <li>مرحلة الإصابة.</li>
                <li>نوع وشكل سرطان الجلد.</li>
            </ul>
            
            <p>تشمل أبرز طرق علاج سرطان الجلد المتبعة ما يلي:</p>
            
            <ul>
                <li>
                    <strong>العلاج الجراحي:</strong> تستخدم الجراحة لاستئصال آفة السرطان وجزء من الجلد السليم المحيط بها، أو إزالة الورم ثم إزالة الحواف تدريجيًا مع فحص النسيج تحت المجهر حتى الوصول إلى الطبقة الخالية من الخلايا السرطانية.
                </li>
                <li>
                    <strong>الكشط والتجفيف الكهربائي:</strong> ينطوي هذا العلاج على إزالة الورم بالمكشط ثم كي الحواف للقضاء على أي خلايا سرطانية متبقية.
                </li>
                <li>
                    <strong>العلاج بالتبريد:</strong> يتم فيه استخدام النيتروجين السائل لتدمير الورم وإزالته.
                </li>
                <li>
                    <strong>العلاج الموضعي:</strong> يمكن أن توصف الأدوية التي تحفز جهاز المناعة أو الأدوية الكيماوية الموضعية في صورة جل أو كريم لعلاج سرطان الجلد.
                </li>
                <li>
                    <strong>العلاج الإشعاعي:</strong> ينطوي العلاج الإشعاعي على تسليط أشعة على المنطقة المصابة لقتل الخلايا السرطانية.
                </li>
                <li>
                    <strong>العلاج الكيميائي:</strong> قد يستخدم العلاج الكيميائي عن طريق الفم أو عبر الوريد للقضاء على السرطان.
                </li>
                <li>
                    <strong>العلاج الضوئي الديناميكي:</strong> يجرى هذا العلاج من خلال وضع دواء على المنطقة المصابة أو إعطائه وريديًا، ثم تسليط ضوء أزرق معين لتنشيط الدواء.
                </li>
            </ul>
        </div>
    </div>


    <div class="collapsible">
        <button class="collapsible-header">كيف يمكن الوقاية من سرطان الجلد؟</button>
        <div class="collapsible-content">
            <p>يساهم اتباع بعض النصائح والإرشادات في تقليل احتمالية الإصابة والوقاية من سرطان الجلد، ومن هذه النصائح:</p>

            <ul>
                <li>تجنب التعرض لأشعة الشمس المباشرة والأشعة فوق البنفسجية خاصة في ساعات الظهيرة بين الساعة العاشرة والرابعة، لتقليل تعرض خلايا الجلد لأشعة الشمس الضارة.</li>
                <li>استخدام واقي الشمس عند الخروج نهارًا وتطبيقه على جميع المناطق التي قد تتعرض لأشعة الشمس، مثل ظهر اليدين، والرقبة، والوجه، ويفضل تكرار وضعه على البشرة كل ساعتين.</li>
                <li>ارتداء النظارات الشمسية وقبعة كبيرة تحمي الوجه.</li>
                <li>تغطية معظم أجزاء الجسم عند الخروج في الشمس لتوفير حماية أفضل للجلد.</li>
                <li>تجنب استخدام أجهزة التسمير.</li>
            </ul>
            
            <p>تجدر الإشارة إلى أن فحص البشرة باستمرار للتأكد من عدم نمو آفات جلدية أو تغير في شكل وحجم الشامات يساهم في اكتشاف السرطان في مراحله المبكرة وتفادي حدوث المضاعفات.</p>
            
        </div>
    </div>


</section>

<!-- Contact Section -->
<section id="contact" class="contact">
    <h2>تواصل معنا</h2>
    <p>إذا كانت لديك أي أسئلة أو اقتراحات، لا تتردد في مراسلتنا.</p>
    <form class="contact-form">
        <div class="form-group">
            <label for="name">الاسم</label>
            <input type="text" id="name" name="name" placeholder="أدخل اسمك" required>
        </div>
        <div class="form-group">
            <label for="email">البريد الإلكتروني</label>
            <input type="email" id="email" name="email" placeholder="أدخل بريدك الإلكتروني" required>
        </div>
        <div class="form-group">
            <label for="message">رسالتك</label>
            <textarea id="message" name="message" placeholder="اكتب رسالتك هنا" required></textarea>
        </div>
        <button type="submit">إرسال</button>
    </form>
</section>
{% endblock %}
